<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.jojo.action_call_state">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />

    <application>
        <receiver
            android:exported="true"
            android:name=".receiver.ActionCallStateBroadcast">
            <intent-filter>
                <action android:name="com.yunke.ACTION_OUTGOING_CALL" />
                <action android:name="com.yunke.ACTION_INCOMING_CALL" />
                <action android:name="com.yunke.ACTION_CALL_DISCONNECTED" />
                <action android:name="com.yunke.ACTION_CALL_REJECT" />
                <action android:name="com.yunke.ACTION_CALL_CONNECTED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
